#ignore everything
*
*/

#unignore what we want
!*.html
!*.php
!*.css
!*.js
!*.png
!.gitignore
!*.pdf

# Allow specific directories and their subdirectories
!/html/
!/css/
!/js/
!/img/
!/html/**/*
!/img/**/*
!/js/**/*
